{
  "presets": [
    ["env", {"modules": false}],
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["import", { "libraryName": "antd", "style": true }]
  ],
  "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        },
        "test": {
          "presets": [
            "env",
            "stage-2",
            "react"
          ],
          "plugins": [
            ["module-resolver", {
              "alias": {
                  "~": ["./src"]
              }
            }]
          ]
        }
    }
}
