<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>web app</title>
  <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>
  <div id="root"></div>
  <script src="https://cdn.bootcss.com/babel-polyfill/6.26.0/polyfill.min.js"></script>
  <!--   <script src="https://cdn.bootcss.com/react/16.4.0/umd/react.production.min.js"></script>
<script src="https://cdn.bootcss.com/react-dom/16.4.0/umd/react-dom.production.min.js"></script> -->
  <script src="https://cdn.bootcss.com/prop-types/15.6.1/prop-types.min.js"></script>
  <!--   <script src="https://cdn.bootcss.com/redux/4.0.0/redux.min.js"></script>
<script src="https://cdn.bootcss.com/react-redux/5.0.7/react-redux.min.js"></script>
<script src="https://cdn.bootcss.com/react-router-dom/4.2.2/react-router-dom.min.js"></script> -->
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>

</body>

</html>